body {
    font-size: 16px;
    color: #000000;
    background-color: #E1EFF2;
    font-family:"PingFangEL";
  }
/**HEADER**/
#header-nav {
    background-color: #262626;
    border-radius: 0;
    border:0;
    margin-bottom: 0px;
}
.navbar-brand h1 { /*Name*/
  color: #FFFFFF;
  font-size:2em;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  margin-top:20px;
  margin-bottom: 10px;
  line-height: .75;
  
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #FAFAFA;
  text-align: center;
}
#nav-list a:hover {
  background: #316570;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FAFAFA;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #FAFAFA;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top:-30px;
}
/* END HEADER */
/********** Large devices only **********/
@media (min-width: 1200px) {
  body{
    padding-top:Srem;
    background: url('../images/cali_1200.JPG') no-repeat;
    background-size: cover;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  body{
    background: url('../images/cali_992.JPG') no-repeat;
    height: 558px;
    background-size: cover;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  body {
    background: url('../images/cali_768.JPG') no-repeat;
    height: 432px;
    background-size: cover;
  }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 60px;
    
  }
  .navbar-brand h1 { /* Name */
    padding-top: 0px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
  /* Home Page */
}
